{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block main %}
<div class="container">
    <div class="row m-4">
        <div class="col-sm-6 col-md-6">
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    ×</button>
               <span class="glyphicon glyphicon-ok"></span> <strong>Welcome {{ app.user.username }}</strong>
               <hr>
               <p>Manage your events here..</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}